/* Colors and fonts */

body {
	background-color: white;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 	18px; 
	font-weight: 300;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	letter-spacing: 6px;
	font-size: 50px;
	font-weight: bolder;	
}

h2 {
	font-size: 23px;
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(66, 109, 73);
}

body{width:100%;}


/* Page format */

@media (max-width: 760px) {
  .container {
  	width: 600px; 
  }
}

@media (max-width: 500px) {
  .container {
  	width: 400px; 
  }
}


/* Custom design with class index.css */

.btnshopnow {
	background-color: white;
	color: black;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	letter-spacing: 3px;
	padding: 18px 40px;
	border-radius: 4px;
}

.card-white {
	padding: 5px;
	border-radius: 4px;
	margin: 250px 500px;
	text-align: center;
	position: absolute; 
}

.card-white0 {
	padding: 5px;
	border-radius: 4px;
	margin: 450px 555px;
	text-align: center;
	position: absolute; 
}

.card-white1 {
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	margin: 270px 140px;
	text-align: center;
	position: absolute; 
	width: 250px;
}

.card-white2 {
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	margin: 400px 935px;
	text-align: center;
	position: absolute; 
	width: 250px;
}

.card-white3 {
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	margin: 725px 140px;
	text-align: center;
	position: absolute; 
	width: 250px;
}

.card-white4 {
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	margin: 725px 550px;
	text-align: center;
	position: absolute; 
	width: 250px;
}

.card-white5 {
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	margin: 725px 935px;
	text-align: center;
	position: absolute; 
	width: 250px;
}

.card-white6 {
	padding: 5px;
	border-radius: 4px;
	margin: 850px 1000px;
	position: absolute; 
}

.card-authors {
	margin: 0px 1000px;
	width: 300px;
	position: absolute; 
	text-align: center;
}

.card-authors ul {
	margin: -10px 40px;
}

.list-inline {
	list-style: none;
	font-size: 60px;
}

/* online display */

ul li {
    display: table-cell;
    letter-spacing: 8px;
}


/* Custom design with class clothes.css */

.dresses {
	padding-top: 70px;
	padding-left: 0px;
	border-radius: 4px;
	margin: -50px 450px;
	text-align: center;
	position: absolute; 
	width: 550px;
}

.btndresses {
	padding: 5px;
	margin: 340px 215px;
	position: absolute; 
}

.btndresses a {
	color: white;
	font-size: 28px;
}

.btndresses a:hover {
	color: rgb(66, 109, 73);
}


/* Custom design with class dresses.css */

.cardpictop {
	margin-top: 200px;
	margin-left: 150px;
	margin-right: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cardpictop img {
	width: 200px;
}

.cardpicbottom {
	margin-top: 20px;
	margin-left: 150px;
	margin-right: 600px;
	display: flex;
	justify-content: space-between;
}

.cardpicbottom img {
	width: 200px;
}

.cardwrittingtop {
	margin-top: 0px;
	margin-left: 420px;
	margin-right: 185px;
	display: flex;
	justify-content: space-between;
}

.btnlola {
	padding: 5px;
	margin: 275px 190px;
	position: absolute; 
}

.cardwrittingbottom {
	margin-top: 0px;
	margin-left: 200px;
	margin-right: 650px;
	display: flex;
	justify-content: space-between;
}


/* Custom design with class dressesbasket.css */

.btnbasket {
	padding: 8px;
	background-color: #DEB887;
	margin: -180px 1095px;
	position: fixed;
	border-radius: 6px;
	width: 165px;
}


/* Custom design with class loladress.css */

.imglola {
	margin: -591px 615px;
	display: absolute;
	justify-content: space-between;
	width: 100px;
	height: 500px;
}

.loladress {
	margin: -460px 850px;
	position: absolute; 
	width: 400px;
	height: 500px;
}

.S {
	background-color: #DEB887;
	padding-left: 60px;
	padding-right: 30px;
	padding-top: 1px;
	padding-bottom: 47px;
	width: 40px;
	height: 10px;
	border-radius: 4px;
	margin: 600px 800px; 
}

.M {
	background-color: #DEB887;
	padding-left: 60px;
	padding-right: 30px;
	padding-top: 1px;
	padding-bottom: 47px;
	width: 40px;
	height: 10px;
	border-radius: 4px;
	margin: -658px 975px; 
}

.L {
	background-color: #DEB887;
	padding-left: 60px;
	padding-right: 30px;
	padding-top: 1px;
	padding-bottom: 47px;
	width: 40px;
	height: 10px;
	border-radius: 4px;
	margin: 600px 1150px; 
}

.btnadd {
	background-color: #DEB887;
	padding-left: 45px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 35px;
	width: 110px;
	height: 10px;
	border-radius: 4px;
	margin: -550px 945px; 
}


/* Custom design with class signin.css */

.signup {
	background-color: #DEB887;
	padding-left: 120px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 35px;
	width: 365px;
	height: 200px;
	border-radius: 4px;
	margin: -750px 760px; 
}

.connexion {
	background-color: #DEB887;
	padding-left: 120px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 45px;
	width: 370px;
	height: 200px;
	border-radius: 4px;
	margin: 815px 756px; 
}

.imgbonjour img {
	width: 500px;
	margin: 170px 140px;
	border-radius: 4px;
}


/* Custom design with class orderconfiramtion.css */

.banner {
  /* 1. Set a background image */
  background-image: url(images/banner.jpg);   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */ 
	background-position: center;
    padding-left: 90px;
	padding-top: 295px;
	padding-bottom: 35px;
	width: 1350px;
	height: 555px;
	margin: -10px -10px; 
	text-align: center;
}

.banner p {
	font-weight: bold;
	font-size: 30px;
}

.banner h2 {
	font-size: 28px;
}

.imgbonjour2 img {
	width: 500px;
	margin: 170px 140px;
	border-radius: 4px;
}



